@{
    ViewData["Title"] = "Create";
}
@model UserInfo

<div class="p-2">
    <button type="button" class="btn btn-primary">Go Back</button>
</div>

<div class="p-2">
    <form asp-controller="User" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="UserName" class="form-label">Username:</label>
            <span asp-validation-for="UserName" class="text-danger"></span>
            <input asp-for="UserName" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="form-label">Email:</label>
            <input asp-for="Email" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="form-label">Password:</label>
            <span asp-validation-for="Password" class="text-danger"></span>
            <input asp-for="Password" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="form-label">Phone:</label>
            <input asp-for="PhoneNumber" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="TwoFactorEnabled" class="form-label">Two Factor Enabled:</label>
            <span class="form-check">
                <input type="radio" asp-for="TwoFactorEnabled" class="form-check-input" value="true" id="twoFactorEnabledYes"/>
                <label class="form-check-label" for="twoFactorEnabledYes">Yes</label>
            </span>
            <span class="form-check">
                <input type="radio" asp-for="TwoFactorEnabled" class="form-check-input" value="false" id="twoFactorEnabledNo"/>
                <label class="form-check-label" for="twoFactorEnabledNo">No</label>
            </span>
        </div>
        <div class="form-group">
            <label asp-for="Roles" class="form-label">Roles:</label>
            <span asp-validation-for="Roles" class="text-danger"></span>
            <select asp-for="Roles" class="form-control" multiple>
                <option value="Member">Member</option>
                <option value="Moderator">Moderator</option>
                <option value="Administrator">Administrator</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>