@{
    ViewData["Title"] = "Thank You";
}

<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <img src="/images/thankyou.jpg" alt="Thank you" width="400" height="400">
        </div>
        <div class="col-md-3">
            <br>
            <br>
            <br>
            <h2 class="text-center">Thank you!</h2>
            <p>We will keep you informed of any updates regarding your order.</p>
            <div class="mt-4 text-center">
                <a asp-controller="Home" asp-action="Index">
                    <button type="button" class="btn btn-primary">Go back home</button>
                </a>
            </div>
        </div>
    </div>
</div>