html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: white;
  margin-bottom: 60px;
}


@font-face{
  font-family: Evolve;
  src: url('/fonts/evolve.otf') format("opentype");
}

@font-face{
  font-family: EvolveNormal;
  src: url('/fonts/evolve_normal.otf') format("opentype");
}


#store {
  font-family: Evolve;
  font-size: xx-large;
  color: aqua;
}

#titles
{
  font-family: EvolveNormal;
  font-size: x-large;
}

#logout
{
  font-family: EvolveNormal;
  font-size: x-large; 
}